* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #388ff3;
  --secondary-color: #000000;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --gray-color: #626d77;
  --light-gray-color: #d2dbe8;
  --background-color: #f0f3f7;
}

/* html[data-theme='light'] {
    --background-color: #F5F5F5;
    --on-background-color: #000000;
    --content-bg-color: #FFFFFF;
    --text-color: #000000;
    --on-text-color: #ffffff;
} */
