* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #388ff3;
  --secondary-color: #000000;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --gray-color: #626d77;
  --light-gray-color: #d2dbe8;
  --background-color: #d4dce7;
  --header-height: 60px;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-app {
  flex: 1;
}

.main-app {
  flex: 1;
  padding-top: var(--header-height);
}
