.products {
  padding: 16px;
}

.products__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.products__grid {
  display: grid;
  gap: 14px;

  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.product-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 12px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.product-card__image {
  height: 100%;
  border-radius: 12px;
  background: #f7f7f7;

  display: grid;
  place-items: center;

  padding: 10px;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.product-card__content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card__category {
  font-size: 12px;
  color: #6b7280;
}

.product-card__price {
  font-weight: 800;
  font-size: 14px;
}

.product-card__btn {
  margin-top: auto; 
  width: 100%;
  margin-top: 12px;
}


@media (max-width: 1200px) {
  .products__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 992px) {
  .products__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .products {
    padding: 12px;
  }

  .products__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .product-card__image {
    height: 170px;
  }
}

@media (max-width: 480px) {
  .products__grid {
    grid-template-columns: 1fr;
  }

  .product-card__image {
    height: 100%;
  }
}
